.checklist {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.checklist ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  width:100%;
  color: #24292e;
  margin: 0;
}

.checklist__item {
  position:relative;
  width: 300px;
  height: 60px;
  background: #f1f8ff;
  border: 1px solid #c8e1ff;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.checklist__item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.pr-icon {
  color: #a2b9d0;
}

.pr-icon:hover {
  color: #0366d6;
}

.remove-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size:14px;
  margin: 8px;

}

.add-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.selected {
  background: #34d058;
  border: 1px solid #28a745;
  color:white;
}

.selected * {
  color: white;
}

.selected *:hover {
  color: #1b712f;
}

.add-item-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.9);
}

.add-item-input__text-field {
  background:none;
  border: none;
  border-bottom: solid 2px white;
  transition: border 0.3s;
  width: 200px;
  height: 30px;
  color: white;
  font-size: 18px;
}

.add-item-input__text-field:focus {
  outline: none;
  border-bottom: solid 2px white;
}

.add-item-input__submit-button {
  margin-top:20px;
  padding: 15px 30px;
	border: 2px solid #fff;
	color: #fff;
  font-size:12px;
}

.close-icon {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size:20px;
  color:white;
  cursor: pointer;
}
